<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-3">

        <div class="card shadow">
          <div class="card-header p-0">
            <img src="https://cdn.pixabay.com/photo/2015/02/02/11/08/office-620817_1280.jpg" class="card-img-top"
              alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">เกี่ยวกับเรา</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum quaerat perferendis
              quas eum doloribus molestiae!
            </p>
            <a href="#" class="btn btn-primary btn-sm">อ่านต่อ...</a>
          </div>
        </div>

      </div>

      <div class="col-md-6">

      </div>

    </div>
  </div>
</template>

<script setup>

</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

h5,
p {
  font-family: 'Sarabun', sans-serif;
}

a {
  font-family: 'Sarabun', sans-serif;
}
</style>
